@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Roboto Mono", monospace;
}
html {
  scroll-behavior: smooth;
}
.box {
display: flex;
justify-content: center;
align-items: center;
}

.containner {
    padding: 30px;
    border: rgb(81, 175, 238)2px solid;
    width: 750px;
    border-radius: 20px;
}

    
.Heading {
    text-align: center;
color: rgb(202, 0, 135)
}

li {
    color: rgb(0, 90, 173);
    margin: 0 5px;
    padding: 10px 5px;
    cursor: pointer;
}

li:hover {
    transition: 0.2s;
    transform: scale(1.05);
    color: red;
}


.content {
    background-color: antiquewhite;
    padding: 15px 10px;
    border-radius: 20px;
}



.topics {
        background-color: antiquewhite;
    padding: 15px 10px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

